{% extends 'base.html' %}
{% block title %} Admin Manager {% endblock %}
{% block content %}

<div class="page-wrapper">
<div class="container-fluid">
 <div class="card">
    <div class="card-body">
      <h5 class="card-title">Admin Details </h5>
      <div class="table-responsive">
        <table
          id="zero_config"
          class="table table-striped table-bordered"
        >
          <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Full Name </th>
              <th>Role</th>
              <th class="col-md-1">Update</th>
              <th class="col-md-1">Delete</th>
            </tr>
          </thead>
          <tbody>
        {% for admin in admins %}
            <tr>
              <td>{{admin.username}}</td>
              <td>{{admin.email}}</td>
              <td>{{admin.phone_number}}</td>
              <td>{{admin.get_full_name}}</td>
              <td>{{ admin.role | capfirst }}</td>
              <td><a href="{% url 'accounts:update_admin' admin.id %}" class="btn btn-outline-info"><i class="mdi mdi-pencil-box" style="font-size: 20px;"></i></a></td>
              <td>
              <!-- Form for the Delete button -->
              <form id="delete-form-{{ admin.id }}" method="post" action="{% url 'accounts:delete_admin' admin.id %}">
                {% csrf_token %}
                <button type="button" onclick="showDeleteConfirmation({{ admin.id }})" class="btn btn-outline-info">
                  <i class="mdi mdi-delete" style="font-size: 20px;"></i>
                </button>
              </form>
            </td>
            </tr>

        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
</div>
</div>
</div>



{% endblock %}