 <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="{% url 'inventory:dashboard' %}"
                  aria-expanded="false"
                  ><i class="mdi mdi-view-dashboard"></i
                  ><span class="hide-menu">Dashboard</span></a
                >
              </li>
            
              </li>
                <li class="sidebar-item">
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="mdi mdi-tag-multiple"></i
                  ><span class="hide-menu">Brand's</span></a
                >
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="{% url 'inventory:brand' %}" class="sidebar-link"
                      ><i class="mdi mdi-note-plus"></i
                      ><span class="hide-menu"> Add Brand </span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a href="{% url 'inventory:all_brand' %}" class="sidebar-link"
                      ><i class="mdi mdi-view-list"></i
                      ><span class="hide-menu"> View / Manage </span></a
                    >
                  </li>
                </ul>
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="mdi mdi-animation"></i
                  ><span class="hide-menu">Categories</span></a
                >
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="{% url 'inventory:add_category' %}" class="sidebar-link"
                      ><i class="mdi mdi-note-plus"></i
                      ><span class="hide-menu"> Add Category </span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a href="{% url 'inventory:view_category' %}" class="sidebar-link"
                      ><i class="mdi mdi-view-list"></i
                      ><span class="hide-menu"> View / Manage </span></a
                    >
                  </li>
                </ul>
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="mdi mdi-gas-cylinder"></i
                  ><span class="hide-menu">Product's</span></a
                >
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="{% url 'mart:add_product' %}" class="sidebar-link"
                      ><i class="mdi mdi-note-plus"></i
                      ><span class="hide-menu"> Add Product </span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a href="{% url 'mart:product' %}" class="sidebar-link"
                      ><i class="mdi mdi-view-list"></i
                      ><span class="hide-menu"> View / Manage </span></a
                    >
                  </li>

                </ul>
              </li>
              
               <li class="sidebar-item">
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="mdi mdi-truck-delivery"></i
                  ><span class="hide-menu">Suppliers</span></a
                >
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="{% url 'inventory:add_supplier' %}" class="sidebar-link"
                      ><i class="mdi mdi-note-plus"></i
                      ><span class="hide-menu"> Add Supplier </span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a href="{% url 'inventory:view_supplier' %}" class="sidebar-link"
                      ><i class="mdi mdi-view-list"></i
                      ><span class="hide-menu"> View / Manage </span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a href="form-basic.html" class="sidebar-link"
                      ><i class="mdi mdi-note-plus"></i
                      ><span class="hide-menu"> Add Company Payment </span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a href="form-wizard.html" class="sidebar-link"
                      ><i class="mdi mdi-view-list"></i
                      ><span class="hide-menu"> View / Manage Payment </span></a
                    >
                  </li>
                </ul>
              </li>
              
               <li class="sidebar-item">
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="mdi mdi-account-circle"></i
                  ><span class="hide-menu">Customers</span></a
                >
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="{% url 'accounts:add_customer' %}" class="sidebar-link"
                      ><i class="mdi mdi-account-plus"></i
                      ><span class="hide-menu"> Add Customer </span></a
                    >
                  </li>

                  <li class="sidebar-item">
                    <a href="{% url 'accounts:customer' %}" class="sidebar-link"
                      ><i class="mdi mdi-view-list"></i
                      ><span class="hide-menu"> View / Manage </span></a
                    >
                  </li>

                </ul>
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="mdi mdi-account-circle"></i
                  ><span class="hide-menu">Account Management</span></a
                >
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="{% url 'accounts:staff' %}" class="sidebar-link"
                      ><i class="mdi mdi-view-list"></i
                      ><span class="hide-menu"> View / Manage Staff </span></a
                    >
                  </li>

                  <li class="sidebar-item">
                    <a href="{% url 'accounts:admin' %}" class="sidebar-link"
                      ><i class="mdi mdi-view-list"></i
                      ><span class="hide-menu"> View / Manage Admin </span></a
                    >
                  </li>

                </ul>
              </li>
            
               <li class="sidebar-item">    
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="mdi mdi-cart-plus"></i
                  ><span class="hide-menu">Purchase</span></a
                >
                <ul aria-expanded="false" class="collapse first-level">

                  <li class="sidebar-item">
                    <a href="{% url 'mart:add_purchase' %}" class="sidebar-link"
                      ><i class="mdi mdi-note-plus"></i
                      ><span class="hide-menu"> Purchases </span></a
                    >
                  </li>


                  <li class="sidebar-item">
                    <a href="{% url 'mart:view_purchase' %}" class="sidebar-link"
                      ><i class="mdi mdi-view-list"></i
                      ><span class="hide-menu"> Purchase History </span></a
                    >
                  </li>

                </ul>
              </li>

               <li class="sidebar-item">    
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="mdi mdi-backburger"></i>
                  <span class="hide-menu">Return</span></a>
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="{% url 'mart:add_return' %}" class="sidebar-link"
                      ><i class="mdi mdi-note-plus"></i
                      ><span class="hide-menu"> Create return voucher </span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a href="{% url 'mart:view_return' %}" class="sidebar-link"
                      ><i class="mdi mdi-view-list"></i
                      ><span class="hide-menu"> View all </span></a
                    >
                  </li>

                </ul>
              </li>

                <li class="sidebar-item">
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="mdi mdi-cart-outline"></i
                  ><span class="hide-menu">Sale</span></a
                >
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="{% url 'gross:add_sale' %}" class="sidebar-link"
                      ><i class="mdi mdi-view-list"></i
                      ><span class="hide-menu"> Add Sale </span></a
                    >
                  </li>

        
                  <li class="sidebar-item">
                    <a href="{% url 'gross:view_sale' %}" class="sidebar-link"
                      ><i class="mdi mdi-view-list"></i
                      ><span class="hide-menu"> Sale Record's </span></a
                    >
                  </li>

                </ul>
              </li>
              
              <li class="sidebar-item">
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="mdi mdi-clipboard-flow"></i
                  ><span class="hide-menu">Due List</span></a
                >
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="{% url 'gross:add_due' %}" class="sidebar-link"
                      ><i class="mdi mdi-note-plus"></i
                      ><span class="hide-menu"> Create Due </span></a
                    >
                  </li>

                  <li class="sidebar-item">
                    <a href="{% url 'gross:view_due' %}" class="sidebar-link"
                      ><i class="{% url 'gross:view_due' %}"></i
                      ><span class="hide-menu"> Due Record's</span></a
                    >
                  </li>

                </ul>
              </li>

            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>