{% extends 'base.html' %}
{% block title %} {% if Sale %}Update Sale{% else %}New Sale{% endif %} {% endblock %}
{% block content %}

<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">

  
       <div class="card">
                <form class="form-horizontal" method="POST" {% if sale %} action="{% url 'gross:update_sale' sale_id=sale.id %}" 
                {% else %} action="{% url 'gross:add_sale'  %}" {% endif %}
                >
                  {% csrf_token %}
                  <div class="card-body">
                    <h4 class="card-title">Sale Record</h4>

                  <div class="form-group row">  
                    <label for='role' class="col-sm-3 text-end control-label col-form-label" >Product</label>    
                    <div class="col-sm-9">
                      <select
                        class="select2 form-select shadow-none"
                        style="width: 100%; height: 36px"
                        aria-label="product"
                        name="product"
                    
                      >
                        {% for product in products %}
                        <option value="{{product.id}}" {% if product == sale_product %} selected {% endif %} >{{product}} - {{product.price}} BDT - {{product.brand}}</option>
                        {% endfor %}
                      </select>
                      </div>
                    </div>



                    <div class="form-group row">  
                    <label for='role' class="col-sm-3 text-end control-label col-form-label" >Customer</label>    
                    <div class="col-sm-9">
                      <select
                        class="select2 form-select shadow-none"
                        style="width: 100%; height: 36px"
                        aria-label="customer"
                        name="customer"
                    
                      >
                        {% for customer in customers %}
                        <option value="{{customer.id}}" {% if customer == sale_customer %} selected {% endif %} >{{customer.get_full_name}} - {{customer.address}}</option>
                        {% endfor %}
                      </select>
                      </div>
                    </div>


                
                    <div class="form-group row">
                      <label
                        for="price"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Price</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          name='prod_price'
                          id="prod_price"
                          placeholder="Product Price Here"
                          {% if product %} value='{{sale.prod_price}}' {% endif %}
                        />
                      </div>
                    </div>


                      <div class="form-group row">
                      <label
                        for="extra_cost"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Extra Cost</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          name='extra_cost'
                          id="extra_cost"
                          placeholder="Extra Cost Here"
                          {% if sale %} value='{{sale.extra_cost}}' {% endif %}
                        />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label
                        for="paid"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Paid</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          name='paid'
                          id="paid"
                          placeholder="Paid Amount Here"
                          {% if product %} value='{{sale.paid}}' {% endif %}
                        />
                      </div>
                    </div>

                    <div class="form-group row">
                      <label
                        for="quantity"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Quantity</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          name='quantity'
                          id="quantity"
                          placeholder="Product Quantity Here"
                          {% if product %} value='{{sale.quantity}}' {% endif %}
                        />
                      </div>
                    </div>


                   <div class="form-group row">
                    <label for="refill" class="col-sm-3 text-end control-label col-form-label">Is Refill / Warrenty</label>
                    <div class="col-sm-9" style="margin-top: 6px;">

                      <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="is_refill_yes" name="is_refill" value="True" required>
                        <label class="form-check-label mb-0" for="is_refill">Yes</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="is_refill" name="is_refill" value="False" required>
                        <label class="form-check-label mb-0" for="is_refill_no">No</label>
                      </div>

                    </div>
                  </div>


                    <div class="form-group row">
                    <label for="refill" class="col-sm-3 text-end control-label col-form-label">Is wholesale</label>
                    <div class="col-sm-9" style="margin-top: 6px;">

                      <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="is_wholesale_yes" name="is_wholesale" value="True" required>
                        <label class="form-check-label mb-0" for="is_wholesale">Yes</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="is_wholesale" name="is_wholesale" value="False" required>
                        <label class="form-check-label mb-0" for="is_wholesale_no">No</label>
                      </div>

                    </div>
                  </div>





                  <div class="border-top">
                    <div class="card-body">
                      <button type="submit" class="btn btn-primary">
                        {% if sale %} Update {% else %} Add {% endif %} Record
                      </button>
                    </div>
                  </div>
                </form>


    </div>
  </div>
</div>




{% endblock %}