{% extends 'base.html' %}
{% block title %} View Sale {% endblock %}
{% block content %}

<div class="page-wrapper">
<div class="container-fluid">
 <div class="card">
    <div class="card-body">
      <h5 class="card-title">Records </h5>
      <div class="table-responsive">
        <table
          id="zero_config"
          class="table table-striped table-bordered"
        >
          <thead>
            <tr>
              <th class="col-md-2">Product Title</th>
              <th>Customer Name</th>
              <th>Customer Address</th>
              <th>Selling Price</th>
              <th>Extra Cost</th>
              <th>Total Cost</th>
              <th>Paid</th>
              <th>Refill / Warrenty</th>
              <th>Quantity</th>
              <th>Wholesale</th>
              <th>Sale Date</th>
              <th class="col-md-1">Update</th>
              <th class="col-md-1">Delete</th>
            </tr>
          </thead>
          <tbody>
        {% for sale in sale_record %}
            <tr>
              <td>{{sale.product}}</td>
              <td>{{sale.customer.get_full_name}}</td>
              <td>{{sale.customer.address}}</td>
              <td>{{sale.prod_price}}</td>
              <td>{{sale.extra_cost}}</td>
              <td>{{sale.total_cost}}</td>
              <td>{{sale.paid}}</td>
              <td>{% if sale.is_refill %} Yes {% else %} No {% endif %}</td>
              <td>{{ sale.quantity }}</td>
              <td>{% if sale.is_wholesale %} Yes {% else %} No {% endif %}</td>
              <td>{{sale.created_at|date:"M. j, Y"}}</td>
              <td ><a href="{% url 'gross:update_sale' sale.id %}" class="btn btn-outline-info"><i class="mdi mdi-pencil-box" style="font-size: 20px;"></i></a></td>
              <td>
              <!-- Form for the Delete button -->
              <form id="delete-form-{{ sale.id }}" method="post" action="{% url 'gross:delete_sale' sale.id %}">
                {% csrf_token %}
                <button type="button" onclick="showDeleteConfirmation({{ sale.id }})" class="btn btn-outline-info">
                  <i class="mdi mdi-delete" style="font-size: 20px;"></i>
                </button>
              </form>
            </td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
</div>
</div>
</div>



{% endblock %}