{% extends 'base.html' %}
{% block title %} View Return {% endblock %}
{% block content %}

<div class="page-wrapper">
<div class="container-fluid">
 <div class="card">
    <div class="card-body">
      <h5 class="card-title">Records </h5>
      <div class="table-responsive">
        <table
          id="zero_config"
          class="table table-striped table-bordered"
        >
          <thead>
            <tr>
              <th>Product Title</th>
              <th>Issue</th>
              <th>Refill / Package </th>
              <th>Brand</th>
              <th>Product Total</th>
              <th>Return Cost</th>
              <th>Return Total</th>
              <th>Quantity</th>
              <th>Supplier Name</th>
              <th>Date</th>
              <th class="col-md-1">Update</th>
              <th class="col-md-1">Delete</th>
            </tr>
          </thead>
          <tbody>
        {% for return in return_voucher %}
            <tr>
              <td>{{return.purchase.product.title}}</td>
              <td>{{return.issue}}</td>
              <td>{% if return.purchase.is_refill %} Refill {% else %} Package {% endif %}</td>
              <td>{{return.purchase.product.brand}}</td>
              <td>{{return.returned_product_price}}</td>
              <td>{{return.return_cost}}</td>
              <td>{{return.total_return_cost}}</td>
              <td>{{ return.quantity }}</td>
              <td>{{return.purchase.supplier.contact_name}}</td>
              <td>{{return.created_at}}</td>
              <td><a href="{% url 'mart:update_return' return.id %}" class="btn btn-outline-info"><i class="mdi mdi-pencil-box" style="font-size: 20px;"></i></a></td>
              <td>
              <!-- Form for the Delete button -->
              <form id="delete-form-{{ return.id }}" method="post" action="{% url 'mart:delete_return' return.id %}">
                {% csrf_token %}
                <button type="button" onclick="showDeleteConfirmation({{ return.id }})" class="btn btn-outline-info">
                  <i class="mdi mdi-delete" style="font-size: 20px;"></i>
                </button>
              </form>
            </td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
</div>
</div>
</div>



{% endblock %}